<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b81a1">  <td>23/10/23 22:11:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_API_CreateWork.TC01_Validate201Created()[pri:0, instance:com.api.auto.testcase.TC_API_CreateWork@196a42c3]">TC01_Validate201Created</td> 
  <td>main@702025003</td>   <td></td> </tr>
<tr bgcolor="9b81a1">  <td>23/10/23 22:11:43</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_API_CreateWork.TC02_ValidateWorkId()[pri:1, instance:com.api.auto.testcase.TC_API_CreateWork@196a42c3]">TC02_ValidateWorkId</td> 
  <td>main@702025003</td>   <td></td> </tr>
<tr bgcolor="9b81a1">  <td>23/10/23 22:11:43</td>   <td>535</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_API_CreateWork.TC03_ValidateEducationMatched()[pri:4, instance:com.api.auto.testcase.TC_API_CreateWork@196a42c3]">TC03_ValidateEducationMatched</td> 
  <td>main@702025003</td>   <td></td> </tr>
<tr bgcolor="9b81a1">  <td>23/10/23 22:11:43</td>   <td>522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_API_CreateWork.TC03_ValidateExperienceMatched()[pri:3, instance:com.api.auto.testcase.TC_API_CreateWork@196a42c3]">TC03_ValidateExperienceMatched</td> 
  <td>main@702025003</td>   <td></td> </tr>
<tr bgcolor="9b81a1">  <td>23/10/23 22:11:43</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_API_CreateWork.TC03_ValidateNameOfWorkMatched()[pri:2, instance:com.api.auto.testcase.TC_API_CreateWork@196a42c3]">TC03_ValidateNameOfWorkMatched</td> 
  <td>main@702025003</td>   <td></td> </tr>
<tr bgcolor="9b81a1">  <td>23/10/23 22:11:43</td>   <td>549</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_API_CreateWork.afterTest()[pri:0, instance:com.api.auto.testcase.TC_API_CreateWork@196a42c3]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@702025003</td>   <td></td> </tr>
<tr bgcolor="9b81a1">  <td>23/10/23 22:11:40</td>   <td>-2602</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_API_CreateWork.init()[pri:0, instance:com.api.auto.testcase.TC_API_CreateWork@196a42c3]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@702025003</td>   <td></td> </tr>
</table>
