<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.api.auto.testcase.TC_API_Login</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC01_Validate200Ok</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC04_ValidateUserType</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC02_ValidateMessage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC05_ValidateAccount</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC03_ValidateToken</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>init</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.api.auto.testcase.TC_API_CreateWork</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC03_ValidateExperienceMatched</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC02_ValidateWorkId</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC01_Validate201Created</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC03_ValidateEducationMatched</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC03_ValidateNameOfWorkMatched</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>init</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterTest</td>
<td>&nbsp;</td></tr>
</table>
