<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b81a1">  <td>23/10/27 19:31:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_API_Login.TC01_Validate200Ok()[pri:0, instance:com.api.auto.testcase.TC_API_Login@d737b89]">TC01_Validate200Ok</td> 
  <td>main@1197251633</td>   <td></td> </tr>
<tr bgcolor="97aea5">  <td>23/10/27 19:31:19</td>   <td>1747</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_API_CreateWork.TC01_Validate201Created()[pri:0, instance:com.api.auto.testcase.TC_API_CreateWork@72035809]">TC01_Validate201Created</td> 
  <td>main@1197251633</td>   <td></td> </tr>
<tr bgcolor="9b81a1">  <td>23/10/27 19:31:18</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_API_Login.TC02_ValidateMessage()[pri:1, instance:com.api.auto.testcase.TC_API_Login@d737b89]">TC02_ValidateMessage</td> 
  <td>main@1197251633</td>   <td></td> </tr>
<tr bgcolor="97aea5">  <td>23/10/27 19:31:19</td>   <td>1755</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_API_CreateWork.TC02_ValidateWorkId()[pri:1, instance:com.api.auto.testcase.TC_API_CreateWork@72035809]">TC02_ValidateWorkId</td> 
  <td>main@1197251633</td>   <td></td> </tr>
<tr bgcolor="97aea5">  <td>23/10/27 19:31:19</td>   <td>1818</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_API_CreateWork.TC03_ValidateEducationMatched()[pri:4, instance:com.api.auto.testcase.TC_API_CreateWork@72035809]">TC03_ValidateEducationMatched</td> 
  <td>main@1197251633</td>   <td></td> </tr>
<tr bgcolor="97aea5">  <td>23/10/27 19:31:19</td>   <td>1802</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_API_CreateWork.TC03_ValidateExperienceMatched()[pri:3, instance:com.api.auto.testcase.TC_API_CreateWork@72035809]">TC03_ValidateExperienceMatched</td> 
  <td>main@1197251633</td>   <td></td> </tr>
<tr bgcolor="97aea5">  <td>23/10/27 19:31:19</td>   <td>1761</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_API_CreateWork.TC03_ValidateNameOfWorkMatched()[pri:2, instance:com.api.auto.testcase.TC_API_CreateWork@72035809]">TC03_ValidateNameOfWorkMatched</td> 
  <td>main@1197251633</td>   <td></td> </tr>
<tr bgcolor="9b81a1">  <td>23/10/27 19:31:18</td>   <td>646</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_API_Login.TC03_ValidateToken()[pri:2, instance:com.api.auto.testcase.TC_API_Login@d737b89]">TC03_ValidateToken</td> 
  <td>main@1197251633</td>   <td></td> </tr>
<tr bgcolor="9b81a1">  <td>23/10/27 19:31:19</td>   <td>1448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_API_Login.TC04_ValidateUserType()[pri:3, instance:com.api.auto.testcase.TC_API_Login@d737b89]">TC04_ValidateUserType</td> 
  <td>main@1197251633</td>   <td></td> </tr>
<tr bgcolor="9b81a1">  <td>23/10/27 19:31:19</td>   <td>1466</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_API_Login.TC05_ValidateAccount()[pri:4, instance:com.api.auto.testcase.TC_API_Login@d737b89]">TC05_ValidateAccount</td> 
  <td>main@1197251633</td>   <td></td> </tr>
<tr bgcolor="97aea5">  <td>23/10/27 19:31:19</td>   <td>1830</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_API_CreateWork.afterTest()[pri:0, instance:com.api.auto.testcase.TC_API_CreateWork@72035809]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1197251633</td>   <td></td> </tr>
<tr bgcolor="97aea5">  <td>23/10/27 19:31:19</td>   <td>1494</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_API_CreateWork.init()[pri:0, instance:com.api.auto.testcase.TC_API_CreateWork@72035809]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1197251633</td>   <td></td> </tr>
<tr bgcolor="9b81a1">  <td>23/10/27 19:31:15</td>   <td>-2007</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_API_Login.init()[pri:0, instance:com.api.auto.testcase.TC_API_Login@d737b89]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1197251633</td>   <td></td> </tr>
</table>
